.blog {
	padding-top: 10px;

	.title {
		font-family: $blog-title;
		font-size: 2em;
		color: lighten($font-color-title, 15%);
		border-bottom: $border-separator;
		padding-bottom: 17px;
	}

	.content {
		font-family: $blog-content;
		font-size: 1em;
		color: lighten($font-color-title, 15%);
		border-bottom: $border-separator;
		padding-top: 10px;
		padding-bottom: 17px;
	}

	.date {
		padding-top: 10px;
		font-family: $blog-date;
		font-size: 0.7em;
	}

	.box {
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		margin: 26px auto 0;
		max-width: 75%;
		min-height: 300px;
		padding: 24px;
  		width: 55%;
    }
}