.home {

	padding-top: 150px;

	.title {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 2em;
		color: #3F5245;
	}
	.description {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		color: #8C8C8C;
	}
}