// Colors
$white: #ffffff;
$black: #000000;

// Font Colors
$font-color-title: #444444;

// Fonts
$sans-serif: Helvetica, Arial, sans-serif;
$serif: "Georgia", serif;
$monospaced: Menlo, Monaco, Consolas, "Courier New", monospace;

$blog-title: 'Patua One', cursive;
$blog-date: 'Roboto Slab', serif;
$blog-content: 'Roboto Slab', serif;

// other
$border-separator: 1px dotted lighten($font-color-title, 30%);
